@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;900&display=swap');

/* * Global Styles */

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: 'Iter', sans-serif;
  background-color: #1f2326;
  color: white;
}

* {
  font-family: 'Iter', sans-serif;
}

/* *Typography */

h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 3.75rem;
}

input {
  font-family: 'Iter', sans-serif;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #fff;
}

select,
option {
  font-family: 'Iter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #fff;
}

label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 100;
  color: #9a9ca7;
}


h2 {
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #9a9ca7;
}

h3 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.08rem;
}

.button {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.15rem;
  background-color: #e95636;
  border: 1px solid #e95636;
  border-radius: 6px;
  padding: 0.1rem 1.25rem;
  margin-top: 1.25rem;
  transition: 0.35s ease;
  font-family: 'Inter';
  text-align: center;
}

.button:hover {
  background-color: #b6462d;
  border: 1px solid #a34a35;
  cursor: pointer;
}

/* * Main styles */

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  margin-left: 5rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.4rem;
  background: #292d31;
  border-radius: 16px;
  padding: 3rem;
  max-width: 20rem;
  flex-shrink: 0;

}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 2rem;
  /* flex-shrink: 1; */

}

header {
  display: flex;
}


/* * Styling the form */

/* ? Killing Chrome, Safari, Edge, Opera input arrows for number type input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ? Same input arrow kill for Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

.input-field {
  background-color: #292d31;
  color: white;
  border: .5px solid #6d6d75;
  border-radius: 5px;
  padding: 0.25rem 0;
  padding-left: .5rem;
  padding-right: 0;
  transition: .35s ease;
}

.input-field:hover {
  border: 1px solid rgb(177, 176, 176);
}

.input-field:focus {
  border: 1px solid white;
}

.dropdown {
  padding-top: 0.56rem;
  padding-bottom: 0.56rem;
  line-height: 2rem;

}

select {
  line-height: 2rem;
  box-shadow: 0 10px 55px rgba(219, 218, 218, 0.065);
}

option {
  padding-left: .25rem;
  border-radius: 10px;
}

/* * Adaptive tweeks */

@media screen and (max-width: 850px) {

  .app {
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .results {
    gap: 0.75rem;
    margin: 0;
    padding-left: 1rem;
    width: 100%;
  }

}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 3.15rem;
  }

  h3 {
    font-size: 4rem;
  }

  .app {
    margin-left: 0;
    justify-content: center;
    align-items: center;
    gap: 2rem

  }

  .inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    max-width: 100%;
    gap: 1.5rem;
  }

  .results {
    gap: 0.35rem;
    max-width: 80%;
    padding: 0;

  }

  form {
    width: 100%;
  }

  .input {
    max-width: 12rem;
  }

}

@media screen and (max-width: 540px) {
  form {
    /* margin-right: 1rem; */
    width: 60%;
    margin: 0
  }

  header {
    width: 90%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 2.9rem;
  }

  .inputs {
    margin: 0;
    width: 100%;
  }

  .results {
    gap: .25rem;
  }

  .app {
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem
  }

  .dropdown {
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.2rem;
  }

}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 2.5rem;
  }

  header {
    width: 95%;
  }

  form {
    padding: 2.25rem;
    padding-top: 2rem
  }

  .tripcostbox,
  .fuelcostbox {
    margin-left: .75rem;
  }
.app {
  gap: 2rem
}

}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 2.5rem;
  }

  header {
    width: 95%;
  }

  form {
    padding: 2.25rem;
    padding-top: 2rem
  }


}


@media screen and (max-width: 380px) {
  h1 {
    font-size: 2rem;
  }

  header {
    width: 90%;
  }

  h3 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  form {
    padding: 1.85rem;
    padding-top: 1.25rem
  }

  .inputs {
    gap: .66rem;
  }

  .results {
    gap: .25rem;
  }
}